body {
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #1F2937;
    padding: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* NAVIGATION STYLING */

.nav-title {
    display: flex;
    color: #f9faf8;
    font-weight: 600;
    font-size: 24px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    gap: 25px;
    text-decoration: none;
    list-style: none;
    padding: 15px;
}

/* HERO HEADING STYLING */

.first-container {
    background-color: #1F2937;
    color: #f9faf9;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.first-container-text {
    display: flex;
    flex: 0 1 750px;
    flex-direction: column;
    height: 385px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hero-heading {
    font-size: 48px;
    font-weight: 700;
    width: 900px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.hero-body {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
    margin: 0;
}

.header-btn {
    font-size: 18px;
    font-weight: 700;
    background-color: #3882f6;
    color:#E5E7EB;
    padding: 18px;
    width: 145px;
    border-radius: 15px;

}

/* SECOND SECTION STYLING */

.second-container {
    padding-bottom: 90px;
}
.section-heading {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    padding: 35px;

}
.project-images-section {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.project-images {
    width: 350px;
    height: 350px;
}
.project-text {
    max-width: 350px;
}

.padding {
    padding-left: 150px;
    padding-right: 150px;
}
.padding-two {
    padding-left: 300px;
    padding-right: 300px;
    margin: 0;
}
/* THIRD CONTAINER STYLING  */

.third-container {
    background-color: #E5E7EB;
}
.quote {
    display: flex;
    flex-direction: column;
    padding: 150px;
    color: #1F2937;
}
.quote-styling {
    font-size: 38px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
    max-width: 1050px;
    align-self: center;
}
.quote-attribution {
    font-size: 25px;
    font-weight: 800;
    align-self: flex-end;
    margin: 0;
    padding-right: 130px;
}

/* FOURTH CONTAINER STYLING */

.fourth-container {
    border-radius: 3px;
}
.cta-box {
    display: flex;
    color:#E5E7EB;
    background-color: #3882F6;   
    justify-content: space-between;
    padding: 45px 150px;
    margin: 150px;
    border-radius: 25px;
    align-items: center;
    
}

.cta-box-text {
    font-size: 18px;
}

.cta-btn {
    font-size: 18px;
    font-weight: 600;
    background-color: #3882f6;
    color:#E5E7EB;
    padding: 18px;
    height: 60px;
    width: 145px;
    border-radius: 15px;
    align-self: center;
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 3px;
}

/* FOOTER STYLING */